<div class="home-container">
    <!-- Filtros -->
    <div class="filters-container mat-elevation-z2">
      <mat-form-field appearance="outline">
        <mat-label>Buscar por autor</mat-label>
        <input matInput [(ngModel)]="searchQuery" (input)="applyFilters()">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Filtrar por data</mat-label>
        <mat-select [(value)]="timeFilter" (selectionChange)="applyFilters()">
          <mat-option value="all">Todas</mat-option>
          <mat-option value="today">Hoje</mat-option>
          <mat-option value="week">Esta semana</mat-option>
          <mat-option value="month">Este mês</mat-option>
          <mat-option value="year">Este ano</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  
    <div class="posts-list">
      <div *ngFor="let post of filteredPosts" class="post-item mat-elevation-z1">
        <div class="post-header">
          <span class="author">{{ post.usuario.nome }}</span>
          <span class="date">{{ post.data | date:'dd MMM yyyy' }}</span>
        </div>
        
        <h3 class="post-title">{{ post.titulo }}</h3>
        <p class="post-excerpt">{{ post.texto | slice:0:150 }}...</p>
        
        <div class="post-footer">
            <button mat-button color="primary" 
                    [routerLink]="['/posts', post.id]">
              CONTINUAR LENDO
            </button>
          </div>
        
        <mat-divider></mat-divider>
      </div>
      <mat-paginator [length]="filteredPosts.length"
               [pageSize]="pageSize"
               [pageSizeOptions]="[5, 10, 20]"
               (page)="onPageChange($event)"
               aria-label="Selecionar página">
</mat-paginator>

    </div>
  </div>