<p>posts works!</p>
<mat-card>
    <form [formGroup]="postForm" (ngSubmit)="savePost()">
      <mat-form-field appearance="fill">
        <mat-label>Título</mat-label>
        <input matInput formControlName="titulo" required />
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Conteúdo</mat-label>
        <textarea matInput formControlName="conteudo"></textarea>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Autor</mat-label>
        <input matInput formControlName="autor" required />
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit">Salvar</button>
    </form>
  </mat-card>
  
  <mat-card *ngFor="let post of posts">
    <h2>{{ post.titulo }}</h2>
    <p>{{ post.conteudo }}</p>
    <small>Autor: {{ post.autor }} | {{ post.data | date }}</small>
    <button mat-button color="warn" (click)="deletePost(post.id!)">Excluir</button>
  </mat-card>
  